TELEGRAM_TOKEN=

# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=support
MYSQL_USER=support_user
MYSQL_PASSWORD=
MYSQL_HOST=mysql
MYSQL_PORT=3306

# LLM
USE_OPENAI=false
LLAMA_MODEL_PATH=/models/mistral-7b.Q4_K_M.gguf
LLAMA_CONTEXT_SIZE=2048
LLAMA_TEMP=0.7

# DJANGO
DJANGO_SECRET_KEY=
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1
