aiogram
openai>=1.0.0
python-dotenv
requests
llama-cpp-python
faster-whisper
numpy
scipy
faiss-cpu
sentence-transformers
sqlalchemy
pymysql
scikit-learn
mysqlclient
aiohttp
huggingface_hub[hf_xet]
mysql-connector-python

