aiogram
python-dotenv
requests
llama-cpp-python
faster-whisper
numpy
scipy
faiss-cpu
sentence-transformers
openai  # fallback
sqlalchemy
pymysql
gpt4all
scikit-learn
mysqlclient
aiohttp
huggingface_hub[hf_xet]
