{% extends "admin/change_form.html" %}
{% load i18n static %}

{% block after_related_objects %}
  {{ block.super }}

  {% if original and not original.resolved %}
    <div class="admin-response-form" style="margin-top: 2em;">
      <h3>Відповідь адміністратору:</h3>
      <form method="post">
        {% csrf_token %}
        <textarea name="admin_reply" rows="4" style="width: 100%;" placeholder="Напишіть відповідь користувачу..."></textarea>
        <br><br>
        <button type="submit" name="send_response" class="button default">Відправити</button>
      </form>
    </div>
  {% endif %}
{% endblock %}
